"*":
  "atom-beautify":
    _analyticsUserId: "d7ca8837-80e3-440b-b595-572c04923b81"
    general:
      _analyticsUserId: "0b9f6f39-5a8c-45c4-95eb-6d4285c4fa19"
    html:
      end_with_newline: true
      indent_size: 2
  "autocomplete-plus": {}
  blame: {}
  core:
    disabledPackages: [
      "jshint"
      "react"
      "sort-lines"
      "linter-sass-lint"
    ]
    telemetryConsent: "no"
    themes: [
      "nucleus-dark-ui"
      "one-dark-syntax"
    ]
  "duotone-dark-syntax":
    color:
      duo: "#ff6ef9"
      uno: "#9b92c2"
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    lineHeight: 1.4
    scrollPastEnd: true
  emmet: {}
  "exception-reporting":
    userId: "e0d1e790-1db9-9b33-aa17-8a943263deaa"
  "fuzzy-finder": {}
  "git-plus": {}
  linter:
    errorPanelHeight: 502
  "linter-eslint": {}
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui": {}
  react: {}
  tabs:
    usePreviewTabs: true
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
